rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Función auxiliar para verificar si es admin
    function isAdmin() {
       return request.auth != null && request.auth.uid == "kPkuIN4DxkTAvistlsAeoKjEFNx2";
    }

    match /{document=**} {
      // Por defecto bloqueamos todo acceso de escritura, excepto al Admin
      allow read: if request.auth != null; // Lectura para autenticados (ajustar según necesidad)
      allow write: if isAdmin();
    }
  }
}
